.syntax--source.syntax--python {
    // function color in @cyan
    .syntax--meta.syntax--function-call.syntax--generic {
        color: @cyan
    }

    .syntax--support.syntax--function.syntax--magic {
        font-style: italic;
        color: @blue;
    }
}
